body {
	background: #CD2904;
}


#header {
	height: 122px;
	/*text-align: center;*/
	text-align: left;
	margin: 50px;
    color: rgb(84, 16, 12);
    text-shadow: 4px 3px 15px #e1f6fa;
	font-weight: bolder;
}

#logo {
	   position: relative;
    top: -87px;
    /* bottom: 100px; */
    left: 75%;
    height: 140px;
}

/*#button1 {
	    position: relative;
    top: 198px;
    left: -172px;
    background-color: #e87306;
    border-radius: 12px;
    font-size: 16px;
    padding: 14px 40px;
    transition-duration: 0.4s;
    color: white;
    border-color: #e87306;
}

#button1:hover {

    background-color: white;
    color: #CD2904;
    border-color: #e87306;
    opacity: 0.6;

    

}*/

#displayDiv {
	width: 1353px;
	border: solid black 2px;
	height: 338px;
	position: relative;
	top: 18px;
	left: 60px;
	clear: both;
	background-color: black;
}


#gameDiv1 {
	float: left;
	width: 660px;
	height:400px;
	border: solid black 2px;
	position: relative;
	top: 30px;
	margin-right: : 50px;
	margin-left: 25px;
	color: #e1f6fa;
}

#gameDiv2 {
	float: left;
	width: 660px;
	height:400px;
	border: solid black 2px;
	position: relative;
	top: 30px;
	margin-left: 50px;
	margin-right: 25px;
	color: #e1f6fa;
}


.profileImages {

	height: 300px;
	width: 300px;
	float: left;
	border:solid black 19px;
	
}


.presentation {
	background-color: black;
}

.pHeader {
	margin: 40px;
	text-align: center;
	color: white;

}


.name {
	text-align: left;
	margin: 50px;
	color: #CD2904;
	font-weight: bold;
}


.image {
	position: absolute;
    top: 113px;
    right: 20px;
	height: 250px;
	width: 250px;
	background-color: white;
}


.stats {
	text-align: center;
    margin-right: 186px;
    font-weight: lighter;
}

#cAttack, #heroAttack {
	color: red;
}


#cDefense, #heroDefense {
	color: yellow;
}

#cHp, #heroHp {
	color: green;
}